.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(243, 242, 242, 0.8);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: .5rem;
  background: linear-gradient(180deg, #008c8d 0%, #6ecae4 100%);
  max-width: 100%;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-flow: column nowrap;
  color: white;
  text-shadow: 1px 1px #6ecae4;

  & input[type="submit"] {
    align-self:central;
    border-radius: .5rem;
    background-color:lightgrey;
    color:rgb(37, 37, 37);

    &:hover{
      background-color:grey;
      color:white;
    }
  }

  & input[type="text"] {
    align-content: center;
    border-radius:.3rem;
    place-self: center;
    margin: 0 .9rem;
    padding:.5rem;
    outline:none;
    color: grey;
    font-weight: .9rem;
    width: 84%;

    &:focus {
      outline:none;
    }
  }

  & span{
    position: absolute;
    top: .4rem;
    right: .5rem;
    font-size: 1rem;
    font-weight: bold;
    color:rgb(37, 37, 37);
    background-color:inherit;
    cursor: pointer;
  }
}




@media (max-width: 1024px) {
  .modal{
    max-width: 100%;
  }
}

@media (max-width: 658px) {
  .modal{
    width: 100%;
  }
}