.container {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1.5vmin);
}

.header{
  width:100%;
  color: white;
  text-shadow: 1px 2px 1px #6ecae4;
  line-height:2rem;
  letter-spacing:.3rem;
  font-size: calc(10px + 1.8vmin);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #6ecae4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
